.website{
    display: flex;
   justify-content: center;
   align-content: center;


}

.container{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: fit-content;
    min-width: 400px;
    max-width: 800px;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #c7b9ff;
    padding: 0;
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 400px;
    padding: 30px;
    background-image: linear-gradient(to top , #312cea , #6541fd);
    border-radius:20px;
    font-family: Hanken Grotesk;
    color: white;
    margin: 0;
}

.yourResult{
    display: block;
    font-size: 18px;
    color:#c7b9ff;
    height: fit-content;
    width: fit-content;
   
}

.resultContent{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    margin-top: 30px;
    background-image: linear-gradient(to bottom , #4b24cd ,#4633ef);
    width:80px;
    height: 80px;
    border-radius: 80px;
}

.resultPercent{
    display: block;
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 36pt;
}

.ofHundred{
    color: #c7b9ff;
    font-size: 10pt;
}

.great{
    display: block;
    color: white;
    font-size: 24pt;
    margin:30px
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 12pt;
    padding:20px;
    color: #c7b9ff;
}

.summary{
    display: flex;
    flex-direction: column;
    background-color: white;
    width:calc(400px - 60px);
    border-radius:  0 20px 20px 0;
    padding:30px;
    margin: 0;
    
}

.summaryText{
    font-family: Hanken Grotesk;
    font-size: 18pt;
    color: #303b5b;
    margin-bottom: 20px;
}

.tab{
    display: grid;
    grid-template-columns: 0.3fr 2fr 0.5fr;
    justify-content: center;
    align-content: center;
    padding: 10px;
    border-radius: 10px;
    height: 10%;
    margin-bottom: 10px;
    
}

.red{
    background-color: #fff6f5;
    color: #d27273;
    font-family: Hanken Grotesk;
}

.yellow{
    background-color: #fffbf2;
    color: #ebc352;
    font-family: Hanken Grotesk;
}

.green{
    background-color: #f2fbfa;
    color: #26ad8d;
    font-family: Hanken Grotesk;
}

.blue{
    background-color: #f3f3fd;
    color: #5f66d1;
    font-family: Hanken Grotesk;
}

.grade{
    color: #303b5b;
}

.grade::after{
    content: " /100";
    color: #a19dab;
    font-family: Hanken Grotesk;
}

.continue{

    margin-top: 20px;
    padding:20px;
    color: white;
    background-color: #303b5b;
    font-family: Hanken Grotesk;
    font-size: 20pt;
    border-radius: 50px;
    border: none;
}

.continue:hover{
    background-image: linear-gradient(to top , #312cea , #6541fd);
    color: white;
    outline: none;
    border: none;
}


